<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->
	<insert id="create">
		INSERT INTO MEMBER(memno, nickname, id, pw , phonenum, email,
		address, companyNo, birth, rank, name) values(memNo_seq.nextval, #{nickname}, #{id}, #{pw}, #{phonenum},
		#{email}#{email2}, #{address}, #{companyNo}, #{birth}, #{rank}, #{name})
	</insert>

	<update id="update">
		update member set nickname = #{nickname}, pw = #{pw}, phonenum = #{phonenum}, email = #{email}, address = #{address}, companyNo =  #{companyNo ,jdbcType=NUMERIC}
		where memno = #{memno}
	</update>

	<delete id="delete">
		delete from member where memno = #{memno}
	</delete>

	<select id="login">
		select * from member
		where id = #{id} and pw = #{pw}
	</select>

	<select id="idCheck" resultType="int">
		select count(*) from member
		where id = #{id}
	</select>
</mapper>
